$fd-img-path: '../images';

img.fd-logo-contact {
  background-image: url("${fd-img-path}/logo-contact.png");
}

img.fd-logo-engagement {
  background-image: url("${fd-img-path}/logo-engagement.png");
}

img.fd-logo-question {
  background-image: url("${fd-img-path}/logo-question.png");
}

img.fd-logo-solution {
  background-image: url("${fd-img-path}/logo-solution.png");
}
