$fd-img-path: '../images' !default;

img.fd-logo-contact {
  background-image: url(image-path("#{$fd-img-path}/logo-contact.png"));
}

img.fd-logo-engagement {
  background-image: url(image-path("#{$fd-img-path}/logo-engagement.png"));
}

img.fd-logo-question {
  background-image: url(image-path("#{$fd-img-path}/logo-question.png"));
}

img.fd-logo-solution {
  background-image: url(image-path("#{$fd-img-path}/logo-solution.png"));
}
