// URL to base font directory
//$pt-path: "../fonts" !default;
$pt-font-path: "../fonts" !default;

// @font-face mixin

@mixin pt-font-face( $family, $font, $filename, $svgid, $weight: normal, $style: normal ) {
	@font-face {
		font-family: $family;
		src: url('#{$pt-font-path}/#{$font}/#{$filename}.eot');
		src: url('#{$pt-font-path}/#{$font}/#{$filename}.eot?#iefix') format('embedded-opentype'),
			url('#{$pt-font-path}/#{$font}/#{$filename}.woff') format('woff'),
			url('#{$pt-font-path}/#{$font}/#{$filename}.ttf') format('truetype'),
			url('#{$pt-font-path}/#{$font}/#{$filename}.svg##{$svgid}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

@include pt-font-face(
  'PT Sans Regular',
	'sans',
	'PTSans-Regular',
	'PTS55F_W'
);

@include pt-font-face(
  'PT Sans Narrow',
	'sans',
	'PTSans-Narrow',
  'PTN57F_W'
);

@include pt-font-face(
  'PT Sans Caption Bold',
	'sans',
	'PTSans-CaptionBold',
	'PTC75F_W'
);

@include pt-font-face(
  'PT Sans Caption',
	'sans',
	'PTSans-Caption',
	'PTC55F_W'
);
