div.mp-logo-question {
  @extend .fa;
  @extend .fa-question;
  font-size: 10rem;
  vertical-align: middle;
}

img.mp-logo-question {
  display: none;
}

img.mp-logo-contact {
  display: none;
}

img.mp-logo {
  display: none;
}
