div.mp-logo-question {
  @extend .fa;
  @extend .fa-question;
  font-size: 10rem;
  vertical-align: middle;
}

div.mp-logo {
  @extend .fa;
  @extend .fa-camera-retro;
  font-size: 10rem;
  vertical-align: middle;
}
